DISCORD_BOT_TOKEN=TODO
OPENAI_API_KEY=TODO
DISCORD_GUILD_ID=TODO
OWNER_KIM_DISCORD_ID=TODO
OWNER_LEE_DISCORD_ID=TODO
HERMES_CONFIG_PATH=TODO
STOXL_WORKSPACE_PATH=C:\tmp\STOXL_LAB
RAG_BASE_PATH=TODO
STOXL_DB_ROOT=Z:\TODO
STOXL_DB_ROOT_UNC=\\NAS\stoxl\TODO
STOXL_RAG_SOURCE_ROOT=Z:\TODO
STOXL_RAG_SOURCE_ROOT_UNC=\\NAS\stoxl\TODO
STOXL_BRAND_SOURCE_ROOT=Z:\TODO
STOXL_MARKETING_SOURCE_ROOT=Z:\TODO
STOXL_OPERATION_SOURCE_ROOT=Z:\TODO
STOXL_STRATEGY_SOURCE_ROOT=Z:\TODO
STOXL_SHARED_SOURCE_ROOT=Z:\TODO
